body {
    background-color: rgb(11, 58, 58);
  }
  
  nav {
    background-color: rgb(143, 132, 132);
  }
  .my-name {
    font-size: 2rem;
    font-family: 'Parisienne', cursive;
  }
.card{
    background-color:rgb(143, 132, 132);
}
  .card-img-top {
    width: 80%;
    height: auto;
    margin-left: 25px;
    margin-right: 50px;
  }
  p {
    float: left;
  }
  .card {
    margin: 5rem;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background-color: rgb(146, 140, 140);
    text-align: center;
  }
  body{
      background-image:url(./toppng.com-clipart-free-download-and-frames-picture-calligraphic-transparent-background-fancy-borders-3389x2777.png);
  }
  .email-phone{
      color:white;
      font-family: 'Parisienne', cursive;
    margin:10rem;
  }
  #portfolio-jumbotron{
      margin-top:10%;
      margin-left:22%;
  }
